{% extends 'base.html.twig' %}

{% block title %}Worker (Composant Mesenger){% endblock %}

{% block body %}
    <h2>Worker (Composant Mesenger)</h2>

    <p class="alert alert-success">Nous venons de mettre en le broker un message qui sera traité plus tard !</p>
{% endblock %}
