{% extends 'base.html.twig' %}

{% block title %}Custom Event{% endblock %}

{% block body %}
    <h2>Custom Event</h2>

    <p>Message récupéré dans le service UselessHandler::nothing() => {{ message | raw }}</p>

{% endblock %}
