{% extends 'base.html.twig' %}

{% block title %}Symfony Event{% endblock %}

{% block body %}
    <!-- https://symfony.com/doc/current/reference/events.html#kernel-events -->
    <h2>Symfony Event</h2>

    <p><a href="/kernel/schema">Voir le schéma des évènements du kernel http de Symfony</a></p>
{% endblock %}
