{% extends 'base.html.twig' %}

{% block title %}HTTP Kernel Events{% endblock %}

{% block body %}
    <h2>HTTP Kernel Events</h2>

    <img src="{{ asset('build/images/event-http-kernel.png') }}" alt="HTTP Kernel Events" />

{% endblock %}
