{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h2>Bienvenue sur notre app Sf Av</h2>

    <p class="lead">Programme </p>
    <ul>
        <li class="text-decoration-line-through">Les événements et écouteurs</li>
        <li class="text-decoration-line-through">Le composant Cache</li>
        <li class="text-decoration-line-through">Le composant Messenger</li>
        <li class="text-decoration-line-through">Le composant Mail</li>
        <li class="text-decoration-line-through">Le composant Console Commands</li>
        <li class="text-decoration-line-through">Formulaire avancé</li>
        <li class="text-decoration-line-through">Intégration de WebPack Encore</li>
        <li class="text-decoration-line-through">Les tests unitaires et fonctionnels</li>
        <li>Mettre en place une API REST avec authentification</li>
    </ul>
{% endblock %}
